/* body {
    background: lightcoral;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }
  
  p {
    color: #bf1650;
  }
  
  p::before {
    display: inline;
    content: "⚠ ";
  }
  
  textarea,
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  
  button[type="submit"],
  input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #bf1650;
  }
  
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
  .App {
    max-width: 600px;
    margin: 0 auto;
  }
  
  button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  hr {
    margin-top: 30px;
  }
  
  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
   */

   body {
    margin: 0;
    padding: 0;
   /* background: lightcoral; */
   /* background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("./image/background\ imagejpeg.jpeg"); */
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
     sans-serif;
 }

 
 form {
   max-width: 400px;
   margin: 0 auto;
 }

 h1 {
   font-weight: 100;
   /* color: black; */
   color: rgb(27, 24, 24);
   text-align: center;
   padding-bottom: 10px;
   border-bottom: 1px solid rgb(79, 98, 148);
 }

  .form {
   background: #0e101c;
   max-width: 400px;
   margin: 0 auto;
 }

 p {
   color: #bf1650;
 }

 p::before {
   display: inline;
   content: "⚠ ";
 } 

 textarea,
 input {
   display: block;
   box-sizing: border-box;
   width: 100%;
   border-radius: 5px;
   border: 1px solid black;
   padding: 8px 15px;
   margin-bottom: 20px;
   font-size: 14px;
 }

 label {
   line-height: 1;
   text-align: left;
   display: block;
   margin-bottom: 10px;
   margin-top: 20px;
   /* color: rgb(51, 24, 24); */
   color: rgb(88, 79, 79);
   font-size: 14px;
   font-weight: 500;
 }


  button[type="submit"],
 input[type="submit"] {
   background: #ec5990;
   color: white;
   text-transform: uppercase;
   border: none;
   margin-top: 40px;
   padding: 20px;
   font-size: 16px;
   font-weight: 100;
   letter-spacing: 10px;
 } 

  button[type="submit"]:hover,
 input[type="submit"]:hover {
   background: #bf1650;
 } 
 
 button[type="submit"]:active,
 input[type="button"]:active,
 input[type="submit"]:active {
   transition: 0.3s all;
   transform: translateY(3px);
   border: 1px solid transparent;
   opacity: 0.8;
 } 

 input:disabled {
   opacity: 0.4;
 }

 input[type="button"]:hover {
   transition: 0.3s all;
 }

  button[type="submit"],
 input[type="button"],
 input[type="submit"] {
   -webkit-appearance: none;
 }   

 .App {
   max-width: 600px;
   margin: 0 auto;
 }

  button[type="button"] {
   display: block;
   appearance: none;
   background: #333;
   color: white;
   border: none;
   text-transform: uppercase;
   padding: 10px 20px;
   border-radius: 4px;
 } 

 hr {
   margin-top: 30px;
 }

  button {
   display: block;
   appearance: none;
   margin-top: 40px;
   border: 1px solid #333;
   margin-bottom: 20px;
   text-transform: uppercase;
   padding: 10px 20px;
   border-radius: 4px;
 }  


 /* Book Ticket page Property */
 .container-fluid .row{
   height: 100px;
   width: 100%;
 }

 

  
/* sign-up*/

/* input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}

form{
  display: block;
  position: relative;
}
*/
/*
form:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right,#00b7ff,#FE4880 );
}
*/
/*
form .form-inner{
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;

}

form .form-inner h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group{
  display: block;
  width:300;
  margin-bottom: 15px;
 }

 .form-inner .form-group label {
   display: block;
   color:#666;
   font-size:12px;
   margin-bottom: 5px;
   transition: 0.4s;
 }

 .form-inner .form-group:focus-within label{
   color: #FE4880;
 } 

 form .form-inner .form-group input {
   display: block;
   width: 100%;
   padding: 10px 15px;
   background-color: #f8f8f8;
   border-radius: 8px;
   transition: 0.4s;

 }

 form .form-inner .form-group input:focus {
   box-shadow: 0px 0px 3px rgba(0 ,0 , 0 , 0.2);

 }
 form .form-inner input[type="submit"],
 .welcome button  {
   display: inline-block;
   padding: 10px 15px;
   border-radius: 8px;
   background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50% #FE4880);
   background-size: 200%;
   background-position: 0%;
   transition: 0.4s;
   color: #FFF;
   font-weight: 700;
   cursor: pointer;

 }

 form .form-inner input[type="submit"]:hover , 
 .welcome button:hover 
  {
   background-position: 100 0%;
 }

 .welcome{
   width: 100%;
   max-width: 480px;
   background-color: #fff;
   padding: 15px 30px;

 }

 .welcome h2{
   color: #888;
   font-size: 28px;
   font-weight: 500;
   margin-bottom: 30px;
 }

 .welcome h2 span{
   color: #FE4880;
   font-weight: 700;

 } */